.card {
    display: flex;
    align-items: start;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    height: 100cqh;
    background: var(--card);
    border: 1px solid var(--border);
    box-shadow:
      0 3px 4px rgba(23,22,24,.04),
      0 1px 2px rgba(23,22,24,.04);
  }
  
  .cardColumn {
    width: 100cqh;
    height: 100cqh;
    display: grid;
    place-items: center;
    position: relative;
  }
  
  .cardColumnLast {
    align-self: flex-end;
  }
  
  .cardAvatar {
    height: var(--entity-size);
    aspect-ratio: 1;
    background: var(--element);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  
  .cardAvatarContent {
    position: absolute;
    inset: 0;
    width: 100%;
    object-fit: cover;
  }
  
  .imageSvg {
    width: 50%;
  }
  
  .cardAvatarImg {
    z-index: 2;
  }
  
  .cardOneColumnFirst,
  .cardFourColumnFirst,
  .cardTwoColumnFirst {
    align-self: center;
  }
  
  .cardContent {
    flex: 1;
  }
  
  .cardDetails {
    height: 100cqh;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 58cqi;
    position: relative;
  }
  
  .cardDummyText {
    flex: 0 1 auto;
  }
  
  .cardOneDummy,
  .cardFourDummy {
    padding-left: 2rem;
  }
  
  .cardOneDummyTextFirst,
  .cardFourDummyTextFirst {
    width: 85%;
  }
  
  .cardOneDummyTextLast,
  .cardFourDummyTextLast {
    width: 55%;
  }
  
  .cardDummy {
    height: 160cqh;
    width: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .text {
    height: 0.8rem;
    background: var(--element);
    border-radius: 100px;
    flex: 1;
  }
  
  .image {
    height: var(--entity-size);
    aspect-ratio: 1;
    background: var(--element);
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;
  }
  
  .cardCompany {
    height: var(--entity-size);
    aspect-ratio: 1;
    background: var(--element);
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;
  }
  
  .youtube {
    background: #FF0000;
  }
  
  .slack {
    background: #4A154B;
  }
  
  .headspace {
    background: #F47D31;
  }
  
  .alexa {
    background: #00CAFF;
  }
  
  .messenger {
    background: #00B2FF;
  }
  
  .notion {
    background: #000000;
  }
  
  .paypal {
    background: #003087;
  }
  
  .password {
    background: #3B66BC;
  }
  
  .bluesky {
    background: #0285FF;
  }
  
  .calendly {
    background: #006BFF;
  }
  
  .instagram {
    background: #E4405F;
  }
  
  .x {
    background: #000000;
  }
  
  .cardOne {
    --x: calc(var(--span) * -1);
    --y: -10%;
    --r: -8deg;
    --h: 160%;
    --w: max(55cqi, 320px);
  }
  
  .cardTwo {
    --x: calc(var(--span) * -1);
    --y: -30%;
    --r: 6deg;
    --h: 300%;
    --w: max(55cqi, 330px);
  }
  
  .cardThree {
    --x: calc(var(--span) * 1);
    --y: -50%;
    --r: 15deg;
    --h: 360%;
    --w: max(30cqi, 220px);
  }
  
  .cardFour {
    --x: calc(var(--span) * 1);
    --y: 10%;
    --r: 10deg;
    --h: 160%;
    --w: max(55cqi, 320px);
  }
  
  .cardFive {
    --x: calc(var(--span) * -1);
    --y: -45%;
    --r: -20deg;
    --h: 525%;
    --w: max(30cqi, 160px);
  }
  
  .cardSix {
    --x: calc(var(--span) * 1);
    --y: -30%;
    --r: -5deg;
    --h: 400%;
    --w: max(45cqi, 305px);
  }
  
  .cardOneAvatar,
  .cardFourAvatar {
    --s: 2;
    transform-origin: 0 50%;
  }
  
  .cardTwoAvatar {
    position: absolute;
    z-index: 4;
    left: 1rem;
    width: var(--entity-size);
    max-width: calc(100cqi - 2rem);
  }
  
  .cardTwoColumnLast,
  .cardThreeColumnLast,
  .cardFiveColumnLast {
    align-self: flex-start;
  }
  
  .cardSixColumnLast {
    align-self: start;
    width: auto;
    min-width: 60px;
  }
  
  .cardSixColumnLastCompany {
    border-radius: 100px;
    width: var(--entity-size);
  }
  
  .cardThreeDummy,
  .cardFiveDummy,
  .cardSixDummy {
    width: 30cqi;
    min-width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    height: 260%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .cardFiveDummy {
    height: 425%;
  }
  
  .cardSixDummy {
    height: 280%;
  }
  
  .cardThreeTextLast {
    width: 45%;
  }
  
  .cardFiveDummy,
  .cardSixDummy {
    gap: 1rem;
    width: 34cqi;
  }
  
  .cardSixDummy {
    --w: 250px;
  }
  
  .cardSixGridPanel {
    aspect-ratio: 2 / 1;
  }
  
  .cta {
    height: var(--entity-size);
    width: 60%;
    background: var(--accent);
    border-radius: 100px;
    scale: 0;
    --s: 1;
  }
  
  .ring {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    translate: 0 0%;
  }
  
  .ringOver {
    z-index: 10;
  }
  
  .ringOverImg {
    clip-path: inset(50% 0 0 0);
  }
  
  .ringImg {
    filter: hue-rotate(30deg);
    width: 100%;
    min-width: 700px;
    max-width: 1400px;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -50%;
    object-fit: cover;
  }