/* .cont {
  width: 900px;
  margin: 100px auto;
  background: rgb(221, 33, 33);
  position: relative;
  padding: 30px;

}

.form {
  width: 640px;
  padding: 50px;
  transition: transform 1.2s ease-in-out;
}

.sub-cont {
  position: absolute;
  top: 0;
  left: 640px;
  width: 900px;
  background: white;
  transition: transform 1.2s ease-in-out;
}

.s--signup .sub-cont {
  transform: translateX(-640px);
}

.img {
  width: 260px;
  height: 100%;
  background-image: url('../utils/login.jpg');
  background-size: cover;
  position: relative;
}

.img__text {
  position: absolute;
  top: 50px;
  left: 20px;
  color: white;
}

.img__btn {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: white;
  cursor: pointer;
} */
