/* styles/Header.module.css */

  /* styles/NavBar.module.css */
.nav {
  position: fixed;
  top: 0;
  padding: 0.25rem;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 20;
}

.navbar {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  width: 80ch;
  max-width: 100%;
}

.bearLink {
  color: canvasText;
  width: 48px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  opacity: 0.8;
}

.bearLink svg {
  width: 75%;
}

:where(.x-link, .bearLink):is(:hover, :focus-visible) {
  opacity: 1;
}
  
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .hidden {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
  }
  
  /* Mantén tus estilos existentes para .navbar y .bearLink */
  
  .hero p {
    font-size: 1.25rem;
    max-width: 75%;
    text-align: center;
    margin: 0 auto;
  }
  
  .hero a {
    color: canvas;
    background: var(--accent);
    border-radius: 5px;
    text-decoration: none;
    padding: 1rem 2.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .hero a::after {
    content: "";
    position: absolute;
    inset: 0;
    background: hsl(0 0% 100% / 0);
    box-shadow: 0 0 20px rgba(86, 71, 185, 0.7);
  }

  
  
  .hero a:is(:hover, :focus-visible)::after {
    background: hsl(0 0% 100% / 0.1);
  }
  

  
  
  .content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-left: 70px;
  }

  .panelContainer {
    display: flex;
    flex-direction: row;
  }

  .textContainer {
    margin-top: 400px;
    text-align: center;
  }
  
  .panel {
    width: clamp(320px, 50vw, 750px);
    max-width: calc(100vw - 2rem);
    border-radius: 18px;
    border: 2px solid var(--accent);
    display: grid;
    grid-template-rows: repeat(6, 60px);
    gap: 1rem;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 32px 32px rgba(23,22,24,.04),0 16px 16px rgba(23,22,24,.04),0 8px 8px rgba(23,22,24,.04);
  }
  
  .scroller .panel {
    background: var(--panel);
  }
  
  .panel__row {
    container-type: size;
    display: flex;
    justify-content: center;
  }
  
  
  