.nav {
    position: fixed;
    top: 0;
    padding: 0.25rem;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 20;
  }
  
  .navbar {
    justify-content: center;
    margin: 0 auto;
    display: flex;
    width: 80ch;
    max-width: 100%;
  }
  
  .navButton {
    width: 44px;
    aspect-ratio: 1;
  }
  
  .bearLink {
    color: canvasText;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }
  
  .bearLink:hover,
  .bearLink:focus-visible {
    opacity: 1;
  }
  
  .bearLink svg {
    width: 75%;
  }