.sticker {
    width: 100%;
    min-height: 100vh;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  
  .panel {
    width: clamp(320px, 50vw, 750px);
    max-width: calc(100vw - 2rem);
    border-radius: 18px;
    border: 2px solid var(--accent);
    display: grid;
    grid-template-rows: repeat(6, 60px);
    gap: 1rem;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 32px 32px rgba(23,22,24,.04),0 16px 16px rgba(23,22,24,.04),0 8px 8px rgba(23,22,24,.04);
  }
  
  .panel__row {
    container-type: size;
    display: flex;
    justify-content: center;
  }
  
  .card {
    display: flex;
    align-items: start;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    height: 100cqh;
    background: var(--card);
    border: 1px solid var(--border);
    box-shadow:
      0 3px 4px rgba(23,22,24,.04),
      0 1px 2px rgba(23,22,24,.04);
  }
  
  .card__column {
    width: 100cqh;
    height: 100cqh;
    display: grid;
    place-items: center;
    position: relative;
  }
  
  .card__avatar {
    height: var(--entity-size);
    aspect-ratio: 1;
    background: var(--element);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  
  .card__avatar * {
    position: absolute;
    inset: 0;
    width: 100%;
    object-fit: cover;
  }
  
  .image svg {
    width: 50%;
  }
  
  .card__avatar img {
    z-index: 2;
  }
  
  .card__content {
    flex: 1;
  }
  
  .card__details {
    height: 100cqh;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 58cqi;
    position: relative;
  }
  
  .card__dummy .text {
    flex: 0 1 auto;
  }
  
  .card__dummy {
    height: 160cqh;
    width: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .text {
    height: 0.8rem;
    background: var(--element);
    border-radius: 100px;
    flex: 1;
  }
  
  .text-wrap {
    display: grid;
    gap: 0.5rem;
    max-width: 65%;
  }
  
  .text-wrap :first-child { width: 100%; }
  .text-wrap :last-child { width: 80%; }
  
  .card__company {
    height: var(--entity-size);
    aspect-ratio: 1;
    background: var(--element);
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;
  }
  
  .alexa {
    background: #00CAFF;
  }
  
  .headspace {
    background: #F47D31;
  }